{% assign rp = site.posts | filter_hidden_posts %}{% if page.previous.hidden == true %}{% assign prev = page.previous.previous %}{% else %}{% assign prev = page.previous %}{% endif %}<div class="read-more">
  {% if prev %}
    <div class="read-more-header">
      <a href="{{ site.url }}{{ prev.url }}" class="read-more-btn">Read More</a>
    </div><!-- /.read-more-header -->
    <div class="read-more-content">
      <h3><a href="{{ site.url }}{{ prev.url }}" title="{{ prev.title }}">{{ prev.title }}</a></h3>
      <p>{% if prev.description %}{{ prev.description }}{% else %}{{ prev.content | strip_html | strip_newlines | truncate: 140 }}&hellip;{% endif %} <a href="{{ site.url }}{{ prev.url }}">Continue reading</a></p>
    </div><!-- /.read-more-content -->
  {% endif %}
  <div class="read-more-list">
    {% for post in rp limit:2 offset:1 %}
      <div class="list-item">
        <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
        <span>Published on {{ post.date | date: "%B %d, %Y" }}</span>
      </div><!-- /.list-item -->
    {% endfor %}
  </div><!-- /.read-more-list -->
</div><!-- /.read-more -->